{% extends 'base.html' %}
{% block title %}Продукт{% endblock %}

{% block content %}

<a class="btn" href="/products">Список продуктов</a>
<a class="btn" href="/products/{{product.id}}/edit">Изменить</a>
<a class="btn" href="/products/{{product.id}}/delete">Удалить</a>

<h2>Выбранный продукт</h2>
<div class="table-container">
    <table id="products_table" class="display">
        <thead>
            <tr>
                <td>Наименования</td>
                <td>Категория</td>
                <td>Еденицы измерения</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ product.name }}</a></td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.unit.name }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}