.footer {
    padding: 24px 24px 24px 24px;
    background-color: #FFFFFF;
    width: 100%;
    bottom: 0;
}

.footer_content {
    display: grid;
}

.footer_logo {
    background: url('../img/footer_logo.svg') bottom/138px no-repeat;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.footer_link-sn {
    color: #FBC15C;
}

.footer_address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
    font-style: normal;
}

.footer_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 5px;
}

.footer_link-phone {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}

.footer_list {
    display: flex;
    gap: 10px;
}

.footer_development {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.footer-development p {
    font-size: 14px; /* Размер шрифта для всех <p> внутри .footer-development */
}

.footer-development a {
    font-size: 14px; /* Размер шрифта для ссылок внутри .footer-development */
}

@media (min-width: 480px) {
    .footer_logo {
        margin-bottom: 36px;
    }

    .footer_address {
        flex-direction: row;
        margin-bottom: 40px;

    }

    .footer_contact {
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    .footer_logo {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .footer_content {
        display: grid;
    }

    .footer_address {
        margin-bottom: 0;
    }
}