.header {
    background-image: url("data:image/svg+xml,%3Csvg width='2880' height='2880' viewBox='0 0 2880 2880' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1440' cy='1440' r='1440' fill='%23CBB355'/%3E%3C/svg%3E%0A");
    /* background-image: url("data:image/svg+xml,%3Csvg width='1440' height='427' viewBox='0 0 1440 427' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='720' cy='-1013' r='1440' fill='%23CBB355'/%3E%3C/svg%3E%0A"); */
    /* background-image: url("data:image/svg+xml,%3C!-- Круг --%3E%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23CBB355'/%3E%3C/svg%3E%0A"); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 611px;
    padding: 24px 0 30px;
    margin-bottom: 30px;
}

.header_logo {
    background: url('../img/new_logo.svg') bottom/138px no-repeat;
    width: 250px;
    height: 60px;
    color: #fff;
    margin-bottom: 10px;
    margin: 0 auto 10px;
    background-position: 70px;
}

.header_titile_container {
    padding-bottom: 246px;
    background: url('../img/pic.svg') bottom/227px no-repeat;
    text-align: center;
    color: #fff;
}

.header_titile {
    margin-bottom: 16px;
}

.header_title-text {
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    display: block;
}

.header_title-text_red {
    color: #ff5c00;
}

.header_appereal {
    font-size: 12px;
    line-height: 16px;
}

@media (min-width: 480px) {
    .header {
        background-size: 2000px;
        padding-bottom: 44px;
    }

    .header_container {
        max-width: 480px;
    }

    .header_titile_container {
        padding-bottom: 0;
        padding-left: 200px;
        padding-top: 27px;
        text-align: left;
        background-position: left;
        background-size: contain;
        min-height: 190px;
    }
}

@media (min-width: 768px) {
    .header {
        background-size: 2540px;
    }

    .header_container {
        max-width: calc(562px + var(--padding-container) * 2);
    }

    .header_titile_container {
        padding-left: 20px;
        min-height: 229px;
    }

    .header_title {
        font-size: 36px;
        margin-bottom: 26px;
        text-align: right;

    }

    .header_appereal {
        text-align: right;

    }

}

@media (min-width: 1024px) {
    .header {
        background-size: 2540px;
        margin-bottom: 40px;
    }

    /* .header_container {
        max-width: calc(1024px + var(--padding-container) * 2);
    } */

    .header_titile_container {
        padding-top: 46px;
        padding-left: 326px;
        min-height: 326px;
    }

    .header_appereal {
        font-size: 16px;
    }

    /* .header_title {
        font-size: 50px;
        margin-bottom: 52px;
    } */
}

@media (min-width: 1440px) {
    .header_container {
        max-width: calc(720px + var(--padding-container) * 2);
        padding-bottom: -20px;
    }

    .header_titile_container {
        padding-top: 100px;
        padding-left: 326px;
        min-height: 326px;
        text-align: left;
    }

}

@media (min-width: 1920px) {
    .header {
        background-size: 4660px;
    }
}