h2 {
    margin-left: 20px;
    margin: 30px 15px 15px 20px;
    color: #272121;
    /* Цвет текста */
}

.table-container {
    /* width: 40%; */
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;
    /* margin: 0 auto; */
    margin-left: 20px;
    margin-bottom: 50px;
    /* max-width: 70%; */
    color: #272121;
    table-layout: auto;

}

th,
td {
    padding: 8px;
    text-align: left;
    table-layout: auto;
}

td:hover {
    background-color: #fcf2ea;
}

tr:hover {
    background-color: #fcf2ea;
    /* Цвет фона при наведении */
}


thead {
    background-color: #F8EBE1;
    border-radius: 8px 0 0 8px;
    table-layout: auto;
}



/* ---------------------------------------- */
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 10px 0 15px 0;
    margin-bottom: 0px;
    margin-left: 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 200px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #444;
    background-color: #F8EBE1;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}

.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    background-color: #ff5e006e;
}



.product_input_label {
    width: 380px;
    height: 300px;
    background-color: #F8EBE1;
    margin: 25px 0 15px 0;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    padding: 30px;
    /* Внутренние отступы */
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    align-items: right;
    /* Выравнивание элементов по центру */

}

.product_name_input label {
    margin-left: 20px;
    padding: 5px;
    /*Внутренние отступы */
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    color: #272121;
}

.product_name_input input {
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 10px;
    color: #474040;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    align-items: center;
    text-indent: 5px
}


.product_category_input label {
    margin-left: 20px;
    padding: 5px;
    /*Внутренние отступы */
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    color: #272121;
}

.product_category_input select {
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    padding: 10px;
    color: #474040;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
}

.product_unit_input label {
    margin-left: 20px;
    padding: 5px;
    /*Внутренние отступы */
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    color: #272121;
}

.product_unit_input select {
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    padding: 10px;
    color: #474040;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
}


div.dataTables_length,
div.dataTables_filter {
    display: inline-block;
    margin: 10px 10px 10px 0;
    height: 30px;
}

.dataTables_filter input {
    border: 1px solid #ccc;
    /* Рамка вокруг поля поиска */
    padding: 8px;
    /* Отступы внутри поля */
    border-radius: 4px;
    /* Закругленные углы */
    width: 250px;
    height: 30px;
    /* Ширина поля поиска */
    font-size: 12px;
    /* Размер шрифта */
    max-height: 34px;
    color: #474040;
}

.dataTables_length select {
    height: 30px;
    border: 1px solid #ccc;
    /* Рамка вокруг выпадающего меню */
    padding: 3px;
    /* Отступы внутри выпадающего меню */
    border-radius: 4px;
    /* Закругленные углы */
    font-size: 12px;
    /* Размер шрифта */
    color: #6e6060;
}

.dataTables_paginate.paging_simple_numbers {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 300px;
}


.paginate_button.current,
.paginate_button {
    /* padding: 8px 12px; Отступы вокруг кнопок пагинации */
    margin: 10px 5px 10px 5px;
    /*Отступы между кнопками */
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 1px solid #ccc; Рамка вокруг кнопок */
    width: 150px;
    /* border-radius: 4px; Закругленные углы кнопок */
    color: #474040;
    /* Цвет текста кнопок */
    text-decoration: none;
    /* Убираем подчеркивание текста */
    padding: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #474040;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.paginate_button.current,
.paginate_button :hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    background-color: #F8EBE1;
}


@media (min-width: 1024px) {
    /* .table-container {
        width: 100%;
    } */

    .product_input_label {
        width: 1000px;
        height: 200px;
        flex-direction: row;
        /*Упорядочиваем элементы сверху вниз */
        align-items: center;
        /* Выравнивание элементов по центру */

    }
}

/* @media (min-width: 1234px) {
    table {
        width: 65%;
    }
}

@media (min-width: 1234px) {
    table {
        width: 65%;
    }
}

@media (min-width: 1248px) {
    table {
        width: 45%;
    }
} */