.unit_input_label {
   /* width: 350px; */
    width: 95%;
    height: 130px;
    background-color: #F8EBE1;
    margin: 25px 0 15px 0;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    padding: 30px;
    /* Внутренние отступы */
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    align-items: right;
    /* Выравнивание элементов по центру */
}

.unit_name_input label {
    margin-left: 20px;
    padding: 5px;
    /*Внутренние отступы */
    display: flex;
    /* Выравниваем элементы по горизонтали */
    flex-direction: column;
    /*Упорядочиваем элементы сверху вниз */
    color: #272121;
}

.unit_name_input input {
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 10px;
    color: #474040;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 95%;
    /* width: 300px; */
    align-items: center;
    text-indent: 5px;
    font-size: 12px;
}

@media (min-width: 480px) {

    .unit_input_label {
        width: 300px;
    }

}

@media (min-width: 760px) {

    .unit_input_label {
        width: 400px;
    }

}
