{% extends 'base.html' %}
{% block title %}Категория{% endblock %}

{% block content %}

<a class="btn" href="/categories">Список категорий</a>
<a class="btn" href="/categories/{{category.id}}/edit">Изменить</a>
<a class="btn" href="/categories/{{category.id}}/delete">Удалить</a>


<h2>Выбранная категория</h2>
<div class="table-container">
    <table id="category_table" class="display">
        <tbody>
            <tr>
                <td>{{ category.name }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
