{% extends 'base.html' %}
{% block title %}Изменить Категорию{% endblock %}
<a href="/categories">Назад</a>

{% block content %}
<form action="/categories/{{category.id}}/update" method="post">
    <h2>Изменить категорию</h2>
    <div class="category_input_label">
        <div class="category_name_input">
            {{ form.category.label() }}
            {{ form.category(placeholder="Введите новое название") }}    
        </div>
    </div>
    <a class="btn" href="/categories">Отмена</a>
    {{ form.submit(class="btn") }}
</form>
{% endblock %}