{% extends 'base.html' %}
{% block title %}Изменить Блюдо{% endblock %}
<a href="/meals">Назад</a>

{% block content %}

<h2>Изменить блюдо</h2>
<form action="/meals/{{meal.id}}/update" method="post">
    <a class="btn" href="/meals">Отмена</a>

    <div class="meal_input_label">
        <div class="meal_name_input">
            {{ form.name.label() }}
            {{ form.name(placeholder="Введите название блюда") }}
        </div>

        <div class="meal_category_input">
            {{ form.meals_category.label() }}
            {{ form.meals_category() }}
        </div>

        <input class="btn" type="submit" value="Сохранить">

</form>
{% endblock %}