{% extends 'base.html' %}
<a href="/products">Назад</a>

{% block content %}


<form action="/products/{{product_id}}/update" method="post">
    <a class="btn" href="/products">Отмена</a>
    <input class="btn" type="submit" value="Сохранить">
    
    <div class="product_input_label">
        <div class="product_name_input">
            <label for="product_name">Название продукта</label>
            <input type="text" id="new_product_name" name="new_product_name" placeholder={{product}} required
                minlength="3" maxlength="100">
        </div>

        <div class="product_category_input">
            <label for="product_category">Категория</label>
            <select id="product_category" name="product_category_id">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="product_unit_input">
            <label for="product_unit">Единицы измерения</label>
            <select id="product_unit" name="product_unit_id">
                {% for unit in units %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

</form>
{% endblock %}