{% extends 'base.html' %}
{% block title %}Добавить Продукт{% endblock %} 

{% block content %}
<form action="/products/create" method="post">

    <a class="btn" href="/products">Назад</a>
    <input class="btn" type="submit" value="Сохранить">

    <h2>Создать продукт</h2>

    <div class="product_input_label">
        <div class="product_name_input">
            <label for="product_name">Название продукта</label>
            <input type="text" id="product_name" name="product_name" required placeholder="Введите название продукта"
                minlength="3" maxlength="10">
        </div>

        <div class="product_category_input">
            <label for="product_category">Категория</label>
            <select id="product_category" name="product_category_id">
                <option disabled selected value>Выберите категорию</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="product_unit_input">
            <label for="product_unit">Еденицы измерения</label>
            <select id="product_unit" name="product_unit_id">
                <option disabled selected value>Выберите еденицу измерения</option>
                {% for unit in units %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

</form>
{% endblock %}