{% extends 'base.html' %}

{% block content %}

<a class="btn" href="/products">Список продуктов</a>
<a class="btn" href="/products/{{product.id}}/edit">Изменить</a>
<a class="btn" href="/products/{{product.id}}/delete">Удалить</a>

<h2>Выбранный продукт</h2>

<table id="products_table" class="display">
    <thead>
        <tr>
            <td>Наименования</td>
            <td>Категория</td>
            <td>Еденицы измерения</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.name }}</a></td>
            <td>{{ product.category }}</td>
            <td>{{ product.unit }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}