{% extends 'base.html' %}

{% block content %}

<a class="btn" href="/products">Список продуктов</a>
<a class="btn" href="/products/{{product_id}}/edit">Изменить</a>
<a class="btn" href="/products/{{product_id}}/delete">Удалить</a>

<h2>Выбранный продукт</h2>

<table id="products_table" class="display">
    <thead>
        <tr>
            <td>Наименования</td>
            <td>Категория</td>
            <td>Еденицы измерения</td>
        </tr>
    </thead>
    <tbody>
        {% for item in product %}
        <tr>
            <td>{{ item.name }}</a></td>
            <td>{{ item.category }}</td>
            <td>{{ item.unit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}