{% extends 'base.html' %}
{% block title %}единица измерения{% endblock %}

{% block content %}

<a class="btn" href="/units">Единицы измерения</a>
<a class="btn" href="/units/{{unit.id}}/edit">Изменить</a>
<a class="btn" href="/units/{{unit.id}}/delete">Удалить</a>


<h2>Выбранная единица измерения</h2>
<div class="table-container">
    <table id="unit_table" class="display">
        <tbody>
            <tr>
                <td>{{ unit.name }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}