{% extends 'base.html' %}
{% block title %}единица измерения{% endblock %}

{% block content %}

<a class="btn" href="/units">Единицы измерения</a>
<a class="btn" href="/units/{{unit.id}}/edit">Изменить</a>
<a class="btn" href="/units/{{unit.id}}/delete">Удалить</a>


<h2>Выбранная единица измерения</h2>
<div class="table-container">
    <table id="unit_table" class="display">
        <tbody>
            <tr>
                <td>{{ unit.name }}</a></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Модальное окно для ошибок -->
<div id="errorModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">Ошибка</div>
        <div class="modal-body" id="errorMessage"></div>
        <div class="modal-footer">
            <button onclick="closeErrorDialog()">Ок</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% if error_flag %}
<script>
    window.onload = function () {
        showErrorDialog("{{ 'К данной единице измерения привязаны продукты, поэтому ее можно только изменить... :( ' }}");
    };

    // Функция для отображения модального окна с ошибкой
    function showErrorDialog(message) {
        const modal = document.getElementById('errorModal');
        const errorMessage = document.getElementById('errorMessage');
        errorMessage.textContent = message; // Устанавливаем текст ошибки
        modal.style.display = 'block'; // Показываем модальное окно
    }

    // Функция для закрытия модального окна
    function closeErrorDialog() {
        const modal = document.getElementById('errorModal');
        modal.style.display = 'none'; // Скрываем модальное окно
    }
</script>
{% endif %}
{% endblock %}