{% extends 'base.html' %}

{% block title %}Рецепты{% endblock %}

{% block content %}

<a class="btn" href="/recipes/new">Добавить</a>

<h2>Список рецептов</h2>
{% if recipes %}
<div class="table-container">
    <table id="recipes_table" class="display">
        <thead>
            <tr>
                <td>Наименование блюда</td>
                <td>Категория блюда</td>
                <td>Рецепт</td>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.meal.name }}</td>
                <td>{{ recipe.meal.meal_category.name }}</td>
                <td><a href="/recipes/{{ recipe.id }}">{{ recipe.body_meal_recipes }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Список пуст</p>
{% endif %}
{% endblock %}

{% block scripts %}

<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='scripts/jquery-3.5.1.js') }}"></script>
<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='scripts/jquery.dataTables.js') }}"></script>

<!-- <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script> -->

<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#recipes_table')) {
            $('#recipes_table').DataTable({
                language: {
                    search: "", // Убираем слово "Search"
                    searchPlaceholder: "Поиск по таблице...", // Placeholder для поля поиска
                    info: "Показано _START_ до _END_ из _TOTAL_ записей", // Убираем информацию о количестве записей, например, "Показано 1-10 из 50"
                    infoEmpty: "", // Убираем информацию, когда таблица пуста
                    zeroRecords: "", // Убираем текст "No matching records found" (Нет совпадающих записей)
                    infoFiltered: "",
                    paginate: {
                        previous: "Назад", // Текст для кнопки "Предыдущая"
                        next: "Вперед" // Текст для кнопки "Следующая"
                    },
                    lengthMenu: "_MENU_",
                }
            });
        };
    });
</script>
<!-- <script>
$(document).ready(function() {
    $('.dataTables_filter label').text('Поиск...'); // Изменение текста лейбла
});
</script> -->
{% endblock %}